.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #54A09B;
  margin: 0 auto;
  min-width: 800px;
  width: 100%;
  background-color: #ffffff; /* Cleaner white background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; /* Rounded corners  */
  min-height: 800px;
  max-height: 800px;
}

.dashboard-title {
  font-size: 2rem; /* large font */
  font-weight: bold;
  margin-bottom: 12px;
  color: #333333; /* changed color to darker */
}

.welcome-message {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: #666666; /* lighter than title*/
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.banking-details {
  width: 85%; /* Made this wider */
  margin: 20px auto;
  cursor: default;
}

.banking-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #cccccc; /* lighter border color*/
}

.banking-table td {
  padding: 12px;
  text-align: left;
  color: #444444; /* made text darker */
}

.banking-table td:nth-child(odd) {
  background-color: #f2f2f2; /* subtle alt row colors */
}

.payment-receipts {
  margin: 10px auto;
  width: 85%;
  cursor: default;
}

.receipts-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #cccccc;
}

.receipts-table th,
.receipts-table td {
  padding: 12px;
  text-align: center;
  color: #555555;
}

.receipts-table th {
  background-color: #e6f7f5; /* made header background color  */
  font-weight: bold;
}

.pay-again-button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #54A09B;
  border: none;
  color: white;
  border-radius: 5px; /* Rounded button corners */
  transition: background-color 0.3s ease; /*  hover effect */
}

.payment-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.payment-buttons button {
  padding: 14px 28px;
  font-size: 1rem;
  margin: 0 10px;
  background-color: #54A09B;
  border: none;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease; /*  hover effect */
}

.payment-buttons button:hover,
.pay-again-button:hover {
  background-color: #3e716d;
}

.form-group {
  margin-bottom: 16px;
}

.form-input {
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc; /* Lighened the border for input fields */
  width: 100%;

}

.pay-again-button {
  padding: 8px 15px;
  margin-top: 8px; /* Reduced space above button */
  background-color: #54A09B;
    color: white;
    border: none;
  cursor: pointer; /* Pointer on hover */
}
