.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid #54A09B;
  margin: 0 auto;
  min-width: 800px;
  width: 100%;
  background-color: #f9f9f9;
  min-height: 800px;
  max-height: 800px;
}

.dashboard-title {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.welcome-message {
  font-size: 1.4rem;
  margin-bottom: 16px;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.payment-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.payment-buttons button {
  padding: 12px 25px;
  font-size: 1rem;
  margin: 0 8px;
  background-color: #54A09B;
  border: none;
  color: white;
  cursor: pointer;
}

.payment-buttons button:hover {
  background-color: #468681;
}

.banking-details {
  width: 80%;
  margin: 20px auto;
}

.banking-title {
  text-align: center;
  margin-bottom: 15px;
}

.banking-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.banking-table th, .banking-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid white;
}

.banking-table th {
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.banking-table td {
  background-color: white; /* Keep <td> cells white */
}

.empty-cell {
  background-color: white; /* Empty cell with no background */
}

.payment-receipts {
  margin: 5px auto;
  width: 80%;
  overflow-y: auto;
  max-height: 300px;
}

.receipts-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #888888;
}

.receipts-table th, .receipts-table td {
  padding: 8px;
  text-align: center;
}

.amount-red {
  color: red;
  white-space: nowrap;
}

.amount-green {
  color: green;
  white-space: nowrap;
}

.pay-again-button {
  padding: 8px 15px;
  background-color: #54A09B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pay-again-button:hover {
  background-color: #468681;
}
